In [1]:
import petl as etl

In [2]:
t1 = etl.fromcsv('simple_petl_eg.csv')
t1

+----------+-------+--------+
| SampleID | TOC   | Method |
+==========+=======+========+
| 's1'     | '0.5' | 'l'    |
+----------+-------+--------+
| 's2'     | '0.3' | 'py'   |
+----------+-------+--------+
| 's3'     | '0.1' | ''     |
+----------+-------+--------+

In [3]:
def row_mapper(row):
    
    def expand(rc_val, src_col, ref_col):
        return row[src_col] if row[ref_col] == rc_val else None
    
    return [
        row['SampleID'], 
        expand(rc_val='l', src_col='TOC', ref_col='Method'), 
        expand(rc_val='py', src_col='TOC', ref_col='Method'),
        # handle defaults
    ]
    
headers = ['Name.Sam', 'TOC.leco', 'TOC.pyrol']
etl.rowmap(t1, row_mapper, header=headers)

+----------+----------+-----------+
| Name.Sam | TOC.leco | TOC.pyrol |
+==========+==========+===========+
| 's1'     | '0.5'    | None      |
+----------+----------+-----------+
| 's2'     | None     | '0.3'     |
+----------+----------+-----------+
| 's3'     | None     | None      |
+----------+----------+-----------+