In [1]:
import pandas as pd
df = pd.read_csv('small_eg_with_nulls.csv', skipinitialspace=True)
df.insert(0, 'original_sample_index', df.index)
df

   original_sample_index   f1   f2  label
0                      0  0.2  0.6    0.6
1                      1  0.9  0.7    1.4
2                      2  0.1  2.3    2.2
3                      3  0.5  0.1    0.4
4                      4  0.6  0.3    NaN
5                      5  0.2  0.3    0.3
6                      6  0.5  0.5    0.8
7                      7  0.8  0.5    NaN
8                      8  0.6  0.4    0.8
9                      9  1.3  0.8    1.9

In [5]:
nulls_df = df[df["label"].isnull()]
nulls_df

   original_sample_index   f1   f2  label
4                      4  0.6  0.3    NaN
7                      7  0.8  0.5    NaN

In [10]:
for _, row in nulls_df.iterrows():
    print(row["original_sample_index"])

4.0
7.0

In [11]:
df['f1'].dtype

dtype('float64')