In [1]:
import pandas as pd
df = pd.read_csv('small_eg.csv', skipinitialspace=True)

In [2]:
df.insert(0, 'original_sample_index', df.index)
df

   original_sample_index   f1   f2       f3           date_added  label
0                      0  0.2  0.6     rock  2022-10-14 11:32:22    0.6
1                      1  0.9  0.7      oil  2022-10-14 11:32:22    1.4
2                      2  0.1  2.3      gas  2022-10-14 11:32:22    2.2
3                      3  0.5  0.1  unknown                  NaN    0.4
4                      4  0.6  0.3      NaN           2022-10-14    0.7

In [3]:
from sklearn.model_selection import train_test_split
feature_cols = ['f1', 'f2']
X, y, indices = df[feature_cols].values, df['label'].values, df['original_sample_index']
X_train, X_test, y_train, y_test, idx_train, idx_test = train_test_split(
    X, y, indices, train_size=0.6, random_state=1)

print("Training split:")
for idx, Xi, yi in sorted(zip(idx_train, X_train, y_train)):
    print(f"{idx}: {list(Xi)} -> {yi}")

print("Test split:")
for idx, Xi, yi in sorted(zip(idx_test, X_test, y_test)):
    print(f"{idx}: {list(Xi)} -> {yi}")

Training split:
0: [0.2, 0.6] -> 0.6
3: [0.5, 0.1] -> 0.4
4: [0.6, 0.3] -> 0.7
Test split:
1: [0.9, 0.7] -> 1.4
2: [0.1, 2.3] -> 2.2

In [4]:
from pandas.api.types import is_numeric_dtype, is_categorical_dtype, is_object_dtype, is_datetime64_any_dtype
is_object_dtype(df['f3'])

True

In [5]:
is_datetime64_any_dtype(df['date_added'])

False

In [6]:
df['date_added'].astype("datetime64[ns]")

0   2022-10-14 11:32:22
1   2022-10-14 11:32:22
2   2022-10-14 11:32:22
3                   NaT
4   2022-10-14 00:00:00
Name: date_added, dtype: datetime64[ns]

In [8]:
df

   original_sample_index   f1   f2       f3           date_added  label
0                      0  0.2  0.6     rock  2022-10-14 11:32:22    0.6
1                      1  0.9  0.7      oil  2022-10-14 11:32:22    1.4
2                      2  0.1  2.3      gas  2022-10-14 11:32:22    2.2
3                      3  0.5  0.1  unknown                  NaN    0.4
4                      4  0.6  0.3      NaN           2022-10-14    0.7

In [10]:
features = ["f1", "f2", "f3"]
ind = [0,3]
df[features].loc[ind]

    f1   f2       f3
0  0.2  0.6     rock
3  0.5  0.1  unknown