In [1]:
import pandas as pd
df = pd.read_csv('cat_feature.csv', skipinitialspace=True)
df.insert(0, 'original_sample_index', df.index)
df

   original_sample_index   cat  label
0                      0  rock  0.200
1                      1  rock  0.300
2                      2   oil  0.900
3                      3  seep  1.230
4                      4  rock  0.230
5                      5  rock  0.310
6                      6   oil  0.910
7                      7   oil  0.925
8                      8   unk  0.120
9                      9  seep  1.230

In [2]:
col= "cat"
df[col].value_counts(normalize=True)

rock    0.4
oil     0.3
seep    0.2
unk     0.1
Name: cat, dtype: float64

In [4]:
ONEHOT_ENCODING_FEATURE_THRESHOLD = 3
ONEHOT_ENCODING_MAX_PROPORTION_UNCAT = 0.05
df[col].value_counts(normalize=True).iloc[ONEHOT_ENCODING_FEATURE_THRESHOLD] < ONEHOT_ENCODING_MAX_PROPORTION_UNCAT

False

In [6]:
unique_val_to_proportion = df[col].value_counts(normalize=True)
#get the top n most common categories
top_n = unique_val_to_proportion[:ONEHOT_ENCODING_FEATURE_THRESHOLD]

In [7]:
top_n

rock    0.4
oil     0.3
seep    0.2
Name: cat, dtype: float64

In [9]:
# sum the values of the top n categories
top_n_proportion = top_n.sum()
top_n_proportion

0.8999999999999999